@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, input, button {
  font-family: "Roboto", serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadowTxt {
  text-shadow: 5px 1px 20px;
}

section#verticalTabs {
  background-image: url(https://img-cdn.inc.com/image/upload/f_webp,c_fit,w_1920,q_auto/images/panoramic/getty_677807410_372454.jpg);
  background-color: rgb(93 65 202);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.ci_tabs {
  box-shadow: 1px 1px 20px 0 #ffffff;
}

.ci_border-atv {
  border-bottom: 2px solid #04e4ff;
}
.ci_border-iatv {
  border-bottom: 2px solid white;
}

h2.wi_ctaHeading {
  background: linear-gradient(#5d41ca, rgb(4 228 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wi_verticalH::after {
  content: "";
  width: 50%;
  height: 2px;
  background: linear-gradient(45deg, #04e4ff, #5158d2);
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .wi_verticalH::after {
    left: 0;
    top: 38px;
  }
}

.wi_testi-atv::after {
  content: "";
  background-color: #7869f7;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 100px;
  top: 0;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
}

.wi_timeline{
  background-color:hsla(234,100%,6%,1);
  background-image:
  radial-gradient(at 100% 49%, hsla(186,100%,50%,0.21) 0px, transparent 50%),
  radial-gradient(at 3% 42%, hsla(224,54%,23%,1) 0px, transparent 50%);
}

.wi_time-atv::before {
  content: "";
  height: 10px;
  width: 10px;
  background: rgb(8 204 255);
  position: absolute;
  top: 80px;
  border-radius: 50%;
  left: 14px;
  box-shadow: 1px 1px 20px 10px #08ccff;
  filter: blur(10px);
}

.wi_timelineHR {
  height: 2px;
  width: 100%;
  background-color: #00BCD4;
  box-shadow: 1px 1px 10px 2px #00BCD4;
  margin: 20px 0;
}

.wi_processNo {
  -webkit-text-fill-color: #00bcd400;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  opacity: 0.3;
}

.wi_process{
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
  opacity: 1;
  -webkit-text-stroke-width: 2px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00e2fa, 0 0 10px #00e2fa, 0 0 10px #00e2fa, 0 0 10px #00e2fa, 0 0 10px #00e2fa, 0 0 10px #00e2fa, 0 0 10px #00e2fa;
  }
  to {
    text-shadow: 0 0 2px #00e2fa, 0 0 3px #00e2fa, 0 0 4px #00e2fa, 0 0 5px #00e2fa, 0 0 6px #00e2fa, 0 0 7px #00e2fa, 0 0 8px #00e2fa;
  }
}

.wi_video {
  background: linear-gradient(45deg, #5d41ca, transparent);
  height: 100px;
  width: 90%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .wi_video {
    width: 95%;
  }
  
}

.wi_video-box{
  height: 100px;
  width: 200px;
  background: url("https://img-cdn.inc.com/image/upload/f_webp,c_fit,w_1920,q_auto/images/panoramic/getty_677807410_372454.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.wi_yelp {
  display: flex;
  align-items: center;
  gap: 10px;
}

div#hs-form-virality-container {
  display: none;
}

.wi_ulborder {
  border-left: 1px solid #ffffff30;
  padding-left: 1em;
}

.wi_ctaMain {
  text-shadow: 1px 1px 15px #00BCD4;
}

.wi_follow::after {
  content: "";
  background: linear-gradient(45deg, #00e8ff, transparent);
  height: 2px;
  width: 50%;
  position: absolute;
  top: 50%;
  margin-left: 10px;
}

.wi_social {
  border-radius: 50%;
  padding: 0.5em;
  box-shadow: 1px 1px 20px 0 #00e8ff;
  transition: 1s;
}

.wi_social:hover {
 transform: scale(1.5);
 transition: 1s;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }
  50% {
    background-position: 0% 0%;
    opacity: 1;
  }
  100% {
    background-position: 0% 0%;
    opacity: 0;
  }
}

.animate-gradientMove {
  background-image: linear-gradient(to right, rgb(14 32 115), rgb(93 65 202));
  background-size: 200% 500%;
  animation: gradientMove 5s linear infinite;
}